#body-colour{
  background-color: rgb(44, 41, 41);
}
.bg-colour{
  background-color: black;
}
.football-size{
  margin-top: 250px;
}
.font-size{
  margin-top: 150px;
  color: white;
}
.fs-color{
  background-color: black;
  color: white;
}
#Select-box{
  padding: 50px; 
  color: white;
}
#card-style{
 background-color: rgb(22, 22, 255);
 color: white;
}
#card-style-1{
  background-color:  rgb(22, 22, 255);
  color: white;
 }#card-style-2{
  background-color:  rgb(22, 22, 255);
  color: white;
 }

 #card-color{
  background-color: black;
  color: white;
 }
 #card-color-1{
  background-color: black;
  color: white;
 }
 #card-color-2{
  background-color: black;
  color: white;
 }
 #card-color-3{
  background-color: black;
  color: white;
 }
 #card-color-4{
  background-color: black;
  color: white;
 } 
 #card-color-5{
  background-color: black;
  color: white;
 }
 #select-box{
  background-color: black;
  color: white;
  height: 400px;
 }

 #calculate-btn{
  background-color: rgb(22, 22, 255);
  color: white;
 }
 #calculate-btn-1{
  background-color: rgb(22, 22, 255);
  color: white;
 }

 #list-style{
  
 }

 #box-size{
  background-color: black;
  color: white;
  padding: 20PX;
 }

 #footer-bg{
  background-color: rgb(44, 41, 41);
  color: white;
 }
 #footer-text{
  padding: 100px;
 }










